/* @move(link) */
a {
    display: none;
}
/* hmm */
/* @move(button.css) */
.button {
    padding: 10px;
}

.pc .button .warn {
    background-color: orange;
}
.pc .button .danger {
    background-color: red;
}
.pc .button .primary {
    background-color: blue;
}